@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Red Hat Display", sans-serif;
  }
  input {
    border: none;
    /* xd-text-primary-black */
    color: rgb(29 36 51 / 1);
  }
  input::placeholder {
    /* xd-text-primary-black/[.65] */
    color: rgb(29 36 51 / 0.65);
  }
}

@layer components {
  /* TODO:
    * need to redo this 
    */
  input {
    @apply focus:ring-xd-primary-700 !important;
  }
  /* buttons */
  .xd-button {
    @apply px-4 py-3 space-x-2 flex items-center justify-center;
    @apply rounded-sm font-semibold transition-all;
    @apply text-white bg-xd-primary-700;
    @apply hover:bg-xd-primary-800;
    @apply focus:bg-xd-primary-900;
    @apply active:bg-xd-primary-900;
    border-style: inset;
  }

  .xd-button-secondary {
    @apply px-4 py-3 space-x-2 flex items-center justify-center;
    @apply ring-1 ring-inset rounded-sm font-semibold;
    @apply text-xd-text-primary-black bg-white ring-[#1D2433]/80;
    border-style: inset;
  }

  .xd-button-secondary-light {
    @apply px-4 py-3 space-x-2 flex items-center justify-center;
    @apply ring-1 ring-inset rounded-sm font-semibold;
    @apply text-[#1D2433]/80 bg-white ring-neutral-300;
    border-style: inset;
  }

  .xd-button-ghost {
    @apply px-4 py-3 space-x-2 flex items-center justify-center;
    @apply rounded-sm font-semibold;
    @apply text-[#1D2433]/[.65] bg-white;
    border-style: inset;
  }

  .xd-button-danger {
    @apply px-4 py-3 space-x-2 flex items-center justify-center;
    @apply rounded-sm font-semibold transition-all;
    @apply text-white bg-xd-danger-700;
    @apply hover:bg-xd-danger-800;
    @apply focus:bg-xd-danger-900;
    @apply active:bg-xd-danger-900;
    border-style: inset;
  }

  .xd-button-sm {
    @apply space-x-1 text-xs px-3 py-[10px];
  }

  .xd-button-link {
    @apply cursor-pointer relative;
    @apply text-[#782FED];
    @apply after:content-[''] after:absolute after:bottom-0 after:left-0 after:right-0;
    @apply after:transition-[width] after:h-[1px] after:bg-[#782FED] after:w-0 hover:after:w-full;
  }

  /* divider */
  .xd-divider {
    @apply flex items-center text-xd-text-primary/80 font-semibold px-4;
    @apply after:flex after:flex-grow after:content-[''] after:h-[1px] after:bg-neutral-300;
    @apply before:flex before:flex-grow before:content-[''] before:h-[1px] before:bg-neutral-300;
  }
  /* cards */
  .xd-card {
    @apply bg-white rounded px-4 py-3 shadow-md relative;
  }
  .xd-card-border {
    @apply after:content-[''] after:rounded after:absolute after:inset-0 after:ring-4 after:ring-inset after:ring-[#F75480];
  }
  .xd-card-border-l {
    @apply after:content-[''] after:absolute after:w-1 after:h-full after:bg-[#F75480] after:top-0 after:left-0;
    @apply after:rounded-l;
  }
  .xd-card-border-r {
    @apply after:content-[''] after:absolute after:w-1 after:h-full after:bg-[#F75480] after:top-0 after:right-0;
    @apply after:rounded-r;
  }
  .xd-card-border-t {
    @apply after:content-[''] after:absolute after:h-1 after:w-full after:bg-[#F75480] after:top-0 after:left-0 after:right-0;
    @apply after:rounded-t;
  }
  .xd-card-border-b {
    @apply after:content-[''] after:absolute after:h-1 after:w-full after:bg-[#F75480] after:bottom-0 after:right-0 after:left-0;
    @apply after:rounded-b;
  }
  .xd-card-focus {
    @apply after:transition-all;
    @apply after:opacity-10 focus-within:after:opacity-100;
  }
}
